<div id='map'></div>

<div id="button-wrapper"></div> 

<div id="direction">
	<% if user_signed_in? %>
  <li>
    <a href="/users/sign_out" data-method = "delete" data-toggle="tooltip" data-placement="botton" title="Cerrar Sesion">
      <span class="glyphicon glyphicon-off td"></span>
    </a>
  </li>
  <% else %>
  <li>
    <a href="/users/sign_in" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
      <span class="glyphicon glyphicon-off td"></span>
    </a>
  </li>
  <% end %>
  <div class="table-info text-center">
    <dl>
      <dt id="sms"></dt>
      <dd id="loading">
      </dd>
      <dt id="meters"></dt>
      <dd></dd>
    </dl>
  </div>


  <div id= "legend" class="legend">
    <div id="sms-legend" class="sms-legend">
      <h5>Trafico en directo</h5>
    </div>
    <div id ="quick" class="quick">
    <%=image_tag "tortu.jpg", :alt => "#" , :title => "#", :class =>"tortu" %>
    </div>
    <div  id="img-legend" class="img-legend">
    </div>
    <div id="slow" class="slow">
    <%=image_tag "liebre.jpg", :alt => "#" , :title => "#", :class =>"tortu" %>
    </div>
    </div>


<div class="button-leyend">
<div class="container">
<dl>
      <dt><button id="continue">  <%=image_tag "market.png", :alt => "#" , :title => "#", :class =>"origin" %></button></dt>
      <dd>Establecer como Origen
      </dd>
      <dt id="finish" class="td"><%=image_tag "flag.png", :alt => "#" , :title => "#", :class =>"finish" %>
      </dt>
      <dd>Establecer como Destino</dd>
       <dt class="restart"><button id="restart">  <%=image_tag "clear.png", :alt => "#" , :title => "#", :class =>"restart" %></button></dt>
        <dd>Restart</dd>
    </dl>
</div>
</div>








  

  </div>